.main-diagonal {
  font-size: 100px;
  transform: rotate(130deg);
  display: inline-block;
  margin-left: 70px;
}

.second-diagonal {
  font-size: 100px;
  transform: rotate(-138deg);
  display: inline-block;
  margin-left: -47px;
}
